img {
    box-shadow: 2px 2px 10px 2px #888888;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.md-footer-copyright__highlight {
    letter-spacing: .05em;
}

span.zakon {
    float: right;
}

.api {
    border: 2px solid #cccccc;
    padding: .3em
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.apidetail {
    border-bottom: 1px solid rgb(187, 181, 181);
    letter-spacing: 0.1em;
}

.faqno {
    float: right;
    position: absolute;
    top: 0; right: 0;
    font-size: .8em;
    font-family: monospace;
    color: #658065;
    padding: 2px 2px;
}